# Cache and logs (Symfony3)
/framework/var/cache/*
/framework/var/logs/*
!framework/framework/var/cache/.gitkeep
!framework/framework/var/logs/.gitkeep

# Parameters
/framework/app/config/parameters.yml

# Managed by Composer
/framework/var/bootstrap.php.cache
/framework/bin/*
!framework/bin/console
!framework/bin/symfony_requirements
/framework/vendor/

# Assets and user uploads
/framework/web/bundles/
/framework/web/uploads/